#fh5co-page,
a {
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
}
body,
ol,
p,
ul {
    color: #848484;
    font-family: Roboto, Arial, sans-serif;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
p,
ul {
    font-family: Roboto, Arial, sans-serif;
}
.fh5co-offcanvas,
body.fh5co-offcanvas {
    overflow: hidden;
}
@font-face {
    font-family: icomoon;
    src: url(../fonts/icomoon/icomoon.eot?srf3rx);
    src: url(../fonts/icomoon/icomoon.eot?srf3rx#iefix) format("embedded-opentype"), url(../fonts/icomoon/icomoon.ttf?srf3rx) format("truetype"), url(../fonts/icomoon/icomoon.woff?srf3rx) format("woff"),
        url(../fonts/icomoon/icomoon.svg?srf3rx#icomoon) format("svg");
    font-weight: 400;
    font-style: normal;
}
body {
    line-height: 1.8;
    font-size: 20px;
    background: #fff;
    font-weight: 300;
    overflow-x: hidden;
}
a {
    color: #4cb648;
    transition: 0.5s;
}
a:hover {
    text-decoration: none !important;
    color: #4cb648 !important;
}
.schedule li a:active,
.schedule li a:focus,
.sf-menu a {
    text-decoration: none;
}
a:active,
a:focus {
    outline: 0;
}
ol,
p,
ul {
    margin-bottom: 1.5em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #212121;
    font-weight: 400;
    margin: 0 0 30px;
}
figure {
    margin-bottom: 2em;
}
::-webkit-selection {
    color: #fcfcfc;
    background: #4cb648;
}
::-moz-selection {
    color: #fcfcfc;
    background: #4cb648;
}
::selection {
    color: #fcfcfc;
    background: #4cb648;
}
#fh5co-header {
    position: relative;
    margin-bottom: 0;
    z-index: 9999999;
}
.fh5co-cover,
.fh5co-hero {
    position: relative;
    height: 800px;
}
@media screen and (max-width: 768px) {
    .fh5co-cover,
    .fh5co-hero {
        height: 700px;
    }
    .fh5co-cover {
        height: inherit;
        padding: 3em 0;
    }
}
.fh5co-cover.fh5co-cover_2,
.fh5co-cover.fh5co-hero-2,
.fh5co-hero.fh5co-hero-2 {
    height: 600px;
}
.fh5co-cover.fh5co-hero-2 .fh5co-overlay,
.fh5co-hero.fh5co-hero-2 .fh5co-overlay {
    position: absolute !important;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    background: rgba(0, 0, 0, 0.7);
}
.fh5co-overlay {
    position: absolute !important;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    background: rgba(0, 0, 0, 0.3);
}
.fh5co-cover {
    background-size: cover;
    position: relative;
}
.sf-menu li,
.sf-menu li.sfHover,
.sf-menu li:hover,
.sf-menu ul li,
.sf-menu ul li.sfHover,
.sf-menu ul li:hover,
.sf-menu ul ul li {
    background: 0 0;
}
.fh5co-cover .btn {
    padding: 1em 2em;
    opacity: 0.9;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    border-radius: 30px;
}
.fh5co-cover .desc {
    top: 50%;
    position: absolute;
    width: 100%;
    margin-top: -100px;
    z-index: 2;
    color: #fff;
}
.fh5co-cover .desc h2 {
    color: #fff;
    font-size: 55px;
    font-weight: 300;
    margin-bottom: 10px;
    line-height: 60px;
    letter-spacing: 1px;
}
@media screen and (max-width: 768px) {
    .fh5co-cover.fh5co-cover_2 {
        height: inherit;
        padding: 3em 0;
    }
    .fh5co-cover .desc {
        padding-left: 15px;
        padding-right: 15px;
    }
    .fh5co-cover .desc h2 {
        font-size: 40px;
        line-height: 50px;
    }
}
.fh5co-cover .desc span {
    display: block;
    margin-bottom: 25px;
    font-size: 24px;
    letter-spacing: 1px;
    color: rgba(255, 255, 255, 0.8);
}
.fh5co-cover .desc span i {
    color: #da1212;
}
.fh5co-cover .desc span a {
    color: rgba(255, 255, 255, 0.8);
}
.fh5co-cover .desc span a:focus,
.fh5co-cover .desc span a:hover {
    color: #fff !important;
}
.fh5co-cover .desc span a.fh5co-site-name {
    padding-bottom: 2px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
}
.sf-menu {
    margin: 0 !important;
    float: right;
}
.sf-menu ul {
    box-shadow: none;
    border: transparent;
    min-width: 12em;
}
.sf-menu a {
    color: rgba(255, 255, 255, 0.5);
    padding: 0.75em 1em !important;
    border-left: none;
    border-top: none;
    zoom: 1;
    font-size: 16px;
    border-bottom: none !important;
    font-weight: 300;
}
.sf-menu a:focus,
.sf-menu a:hover {
    color: #fff !important;
}
.sf-menu li.active a,
.sf-menu li.active a:focus,
.sf-menu li.active a:hover,
.sf-menu li.sfHover a,
.sf-menu li:hover a,
.sf-menu ul li.sfHover a,
.sf-menu ul li:hover a {
    color: #fff;
}
.sf-menu ul li a,
.sf-menu ul ul li a {
    text-transform: none;
    padding: 0.25em 1em !important;
    letter-spacing: 1px;
}
.sf-arrows .sf-with-ul {
    padding-right: 2.5em;
}
.sf-arrows .sf-with-ul:after {
    content: "";
    position: absolute;
    top: 50%;
    right: 1em;
    margin-top: -3px;
    height: 0;
    width: 0;
    border: 5px solid transparent;
    border-top-color: #ccc;
}
.sf-arrows > .sfHover > .sf-with-ul:after,
.sf-arrows > li:hover > .sf-with-ul:after,
.sf-arrows > li > .sf-with-ul:focus:after {
    border-top-color: #ccc;
}
.sf-arrows ul .sf-with-ul:after {
    margin-top: -5px;
    margin-right: -3px;
    border-color: transparent transparent transparent #ccc;
}
.sf-arrows ul .sfHover > .sf-with-ul:after,
.sf-arrows ul li:hover > .sf-with-ul:after,
.sf-arrows ul li > .sf-with-ul:focus:after {
    border-left-color: #ccc;
}
#fh5co-header-section {
    padding-bottom: 15px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #000;
    z-index: 2;
}
.nav-header {
    margin-top: 40px;
    position: relative;
    float: left;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#fh5co-logo {
    z-index: 2;
    font-size: 38px;
    text-transform: uppercase;
    font-weight: 900;
    float: left;
    margin-bottom: 0;
    margin-top: 0;
}
#fh5co-logo a {
    position: relative;
    color: #fff;
}
#fh5co-logo a:after {
    position: absolute;
    content: "";
    top: -5px;
    left: -9px;
    background: #da1212;
    width: 10px;
    height: 10px;
}
#fh5co-logo span {
    padding: 0;
    margin: 0;
    font-weight: 100;
}
.heading-section,
.program {
    margin-bottom: 3.2em;
}
#fh5co-primary-menu > li > .sf-with-ul:after,
#fh5co-primary-menu > li > ul li > .sf-with-ul:after {
    border: none !important;
    font-family: icomoon;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-transform: none;
}
@media screen and (max-width: 768px) {
    #fh5co-logo {
        width: 100%;
        float: none;
        text-align: center;
    }
}
#fh5co-logo a:focus,
#fh5co-logo a:hover {
    color: #fff !important;
}
#fh5co-menu-wrap {
    position: relative;
    z-index: 2;
    display: block;
    float: right;
}
#fh5co-primary-menu > li > ul li.active > a {
    color: #4cb648 !important;
}
#fh5co-primary-menu > li > .sf-with-ul:after {
    position: absolute;
    float: right;
    margin-right: -5px;
    top: 50%;
    margin-top: -7px;
    content: "\e922";
    color: rgba(255, 255, 255, 0.5);
}
#fh5co-primary-menu > li > ul li {
    position: relative;
}
#fh5co-primary-menu > li > ul li > .sf-with-ul:after {
    position: absolute;
    float: right;
    margin-right: 10px;
    top: 20px;
    font-size: 16px;
    content: "\e924";
    color: rgba(0, 0, 0, 0.5);
}
#fh5co-primary-menu .fh5co-sub-menu {
    padding: 10px 7px;
    background: #fff;
    left: 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
    -ms-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
    -o-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
}
#fh5co-primary-menu .fh5co-sub-menu > li > .fh5co-sub-menu {
    left: 100%;
}
#fh5co-primary-menu .fh5co-sub-menu:before {
    position: absolute;
    top: -9px;
    left: 20px;
    width: 0;
    height: 0;
    content: "";
}
#fh5co-primary-menu .fh5co-sub-menu:after {
    position: absolute;
    top: -8px;
    left: 30px;
    width: 0;
    height: 0;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #fff;
    border-left: 8px solid transparent;
    content: "";
}
#fh5co-primary-menu .fh5co-sub-menu .fh5co-sub-menu:before {
    top: 6px;
    left: 100%;
}
#fh5co-primary-menu .fh5co-sub-menu .fh5co-sub-menu:after {
    top: 7px;
    right: 100%;
    border: none !important;
}
.site-header.has-image #primary-menu .sub-menu {
    border-color: #ebebeb;
    -webkit-box-shadow: 0 5px 15px 4px rgba(0, 0, 0, 0.09);
    -moz-box-shadow: 0 5px 15px 4px rgba(0, 0, 0, 0.09);
    -ms-box-shadow: 0 5px 15px 4px rgba(0, 0, 0, 0.09);
    -o-box-shadow: 0 5px 15px 4px rgba(0, 0, 0, 0.09);
    box-shadow: 0 5px 15px 4px rgba(0, 0, 0, 0.09);
}
.site-header.has-image #primary-menu .sub-menu:before {
    display: none;
}
#fh5co-primary-menu .fh5co-sub-menu a {
    letter-spacing: 0;
    padding: 0 15px;
    font-size: 18px;
    line-height: 34px;
    color: #575757 !important;
    text-transform: none;
    background: 0 0;
}
#footer .copy-right p,
.btn,
.fh5co-nav-toggle i,
.fh5co-pricing .price small,
.fh5co-pricing .pricing-plan,
.heading-section h2,
.member-section .member-button a,
.section-title {
    text-transform: uppercase;
}
#fh5co-primary-menu .fh5co-sub-menu a:hover {
    color: #4cb648 !important;
}
#fh5co-blog-section,
#fh5co-contact,
#fh5co-programs-section,
#fh5co-schedule-section,
#fh5co-team-section {
    padding: 1em 0;
}
@media screen and (max-width: 768px) {
    #fh5co-blog-section,
    #fh5co-contact,
    #fh5co-programs-section,
    #fh5co-schedule-section,
    #fh5co-team-section {
        padding: 4em 0;
    }
}
.fh5co-lightgray-section {
    background: rgba(0, 0, 0, 0.04);
}
.heading-section h2 {
    font-size: 24px;
    letter-spacing: 1px;
    position: relative;
    font-weight: 900;
}
.program img {
    color: red;
    width: 70px;
    margin-bottom: 30px;
}
.program h3 {
    font-size: 20px;
}
.program.program-schedule {
    margin-bottom: 2em;
    padding: 40px;
    background: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.program.program-schedule img {
    width: 40px !important;
}
.program.program-schedule h3 {
    margin-bottom: 0;
}
.program.program-schedule small {
    display: block;
    font-size: 12px;
}
.program.program-schedule:focus,
.program.program-schedule:hover {
    -webkit-box-shadow: 0 6px 55px -23px rgba(0, 0, 0, 0.72);
    -moz-box-shadow: 0 6px 55px -23px rgba(0, 0, 0, 0.72);
    box-shadow: 0 6px 55px -23px rgba(0, 0, 0, 0.72);
}
.schedule {
    padding: 0;
    margin: 0 0 40px;
}
.schedule li {
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    font-size: 16px;
}
.schedule li a {
    color: rgba(0, 0, 0, 0.5);
    padding: 5px 20px;
    cursor: pointer;
}
.schedule li a.active {
    background: #4cb648;
    color: #fff !important;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    border-radius: 30px;
}
.schedule-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.schedule-content.active {
    opacity: 1;
    visibility: visible;
}
.fh5co-parallax,
.fh5co-table,
.fh5co-table-cell {
    height: 500px;
}
.fh5co-parallax {
    background-color: #555;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
}
.fh5co-parallax .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000;
    opacity: 0.2;
}
@media screen and (max-width: 768px) {
    .schedule li {
        display: -moz-inline-stack;
        display: inline-block;
        zoom: 1;
        margin-bottom: 10px;
        font-size: 18px;
    }
    .fh5co-parallax {
        height: inherit;
        padding: 4em 0;
    }
}
.fh5co-parallax .fh5co-intro h1 {
    color: #fff;
    font-size: 70px;
    font-weight: 300;
    margin-bottom: 10px;
}
.fh5co-parallax .fh5co-intro p {
    color: #fff;
}
.fh5co-parallax .fh5co-intro p a {
    color: #fff;
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}
.fh5co-parallax .fh5co-intro p a:hover {
    color: #fff;
}
.fh5co-parallax .fh5co-intro.box-area {
    padding: 40px;
    background: #222831;
}
.fh5co-table {
    display: table;
}
.fh5co-table-cell {
    display: table-cell;
    vertical-align: middle;
}
.fh5co-pricing {
    padding: 7em 0;
}
@media screen and (max-width: 768px) {
    .fh5co-parallax .fh5co-intro h1 {
        font-size: 30px;
    }
    .fh5co-pricing {
        padding: 3em 0;
    }
}
.fh5co-pricing .pricing {
    display: block;
    margin-bottom: 30px;
}
.fh5co-pricing .price-box {
    text-align: center;
    padding: 30px;
    background: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 40px;
    position: relative;
}
.fh5co-pricing .price-box.popular .btn-select-plan {
    background: #4cb648;
}
.fh5co-pricing .price-box.popular .price {
    color: #4cb648;
}
.fh5co-pricing .price-box .btn-select-plan {
    padding: 10px 20px;
    background: #4cb648;
    color: #fff;
}
.fh5co-pricing .price-box .classes {
    padding: 0;
}
.fh5co-pricing .price-box .classes li {
    display: block;
    list-style: none;
    margin: 0;
    font-size: 16px;
    padding: 8px 10px;
}
.fh5co-pricing .price-box .classes li.color {
    background: rgba(0, 0, 0, 0.04);
}
.fh5co-pricing .pricing-plan {
    margin: 0 0 50px;
    padding: 0;
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: 700;
    color: #888f94;
}
.fh5co-pricing .pricing-plan.pricing-plan-offer {
    margin-bottom: 24px;
}
.fh5co-pricing .pricing-plan span {
    display: block;
    margin-top: 10px;
    margin-bottom: 0;
    color: #d5d8db;
}
.fh5co-pricing .price {
    font-size: 72px;
    color: #6d6d6d;
    line-height: 50px;
}
.fh5co-pricing .price .currency {
    font-size: 30px;
    top: -0.9em;
    padding-right: 10px;
}
.fh5co-pricing .price small {
    font-size: 13px;
    display: block;
    color: #888f94;
}
.team-section-grid {
    position: relative;
    background-size: cover;
    height: 450px;
    margin-bottom: 30px;
    overflow: hidden;
}
.team-section-grid .overlay-section {
    position: absolute;
    top: 0;
    bottom: -450px;
    left: 0;
    right: 0;
    opacity: 0;
    background: rgba(0, 0, 0, 0.5);
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
}
.team-section-grid .overlay-section h3 {
    color: #fff;
    margin-bottom: 10px;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.team-section-grid .overlay-section p {
    color: rgba(255, 255, 255, 0.7);
}
.team-section-grid .overlay-section p.fh5co-social-icons a:focus,
.team-section-grid .overlay-section p.fh5co-social-icons a:hover {
    text-decoration: none !important;
}
.team-section-grid .overlay-section p.fh5co-social-icons i {
    font-size: 40px;
    color: #fff;
}
.team-section-grid .overlay-section span {
    margin-bottom: 15px;
    color: #fff;
    display: block;
}
.team-section-grid .overlay-section .desc {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 30px;
}
.team-section-grid:hover .overlay-section {
    bottom: 0;
    opacity: 1;
}
.about {
    padding-bottom: 5em;
}
.about img {
    margin-bottom: 50px;
}
#fh5co-contact .contact-info {
    margin: 0;
    padding: 0;
}
#fh5co-contact .contact-info li {
    list-style: none;
    margin: 0 0 20px;
    position: relative;
    padding-left: 40px;
}
#fh5co-contact .contact-info li i {
    position: absolute;
    top: 0.3em;
    left: 0;
    font-size: 22px;
    color: rgba(0, 0, 0, 0.2);
}
#fh5co-contact .contact-info li a {
    font-weight: 400 !important;
    color: rgba(0, 0, 0, 0.3);
}
#fh5co-contact .form-control {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    border: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 18px;
    font-weight: 400;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
}
#fh5co-contact .form-control:active,
#fh5co-contact .form-control:focus {
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
#fh5co-contact input[type="text"] {
    height: 50px;
}
#fh5co-contact .form-group {
    margin-bottom: 30px;
}
.section-title {
    font-weight: 900;
}
.fh5co-blog {
    margin-bottom: 50px;
    position: relative;
}
.fh5co-blog .inner-post {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 150px;
}
.fh5co-blog .inner-post img {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
}
.fh5co-blog .desc {
    padding-left: 230px;
}
@media screen and (max-width: 768px) {
    .fh5co-blog .inner-post {
        width: 100%;
        position: relative !important;
        height: inherit !important;
        margin-bottom: 30px;
    }
    .fh5co-blog .desc {
        padding-left: 0;
    }
}
.fh5co-blog .desc h3 {
    font-size: 22px;
    margin-bottom: 10px;
    line-height: 32px;
}
.fh5co-blog .desc h3 a {
    color: rgba(0, 0, 0, 0.7);
}
.fh5co-blog .desc span {
    display: inline-block;
    margin-bottom: 15px;
    margin-right: 20px;
}
.fh5co-blog .desc.desc2 {
    padding-left: 100px;
}
@media screen and (max-width: 768px) {
    .fh5co-blog .desc.desc2 {
        padding-left: 0;
    }
    .fh5co-blog .meta-date {
        position: relative;
        float: left;
        width: 100%;
        margin-bottom: 20px;
    }
}
.fh5co-blog .meta-date p {
    margin: 0;
    display: block;
    color: #fff;
}
.fh5co-blog .meta-date p span {
    display: block;
    font-size: 14px;
}
#map {
    width: 100%;
    height: 500px;
    position: relative;
}
@media screen and (max-width: 768px) {
    .fh5co-blog .meta-date p span {
        float: left;
        margin-right: 10px;
        margin-top: 8px;
    }
    .fh5co-blog .meta-date p span.date {
        display: -moz-inline-stack;
        display: inline-block;
        zoom: 1;
        float: left;
        margin-right: 10px;
        margin-top: 8px;
    }
    #map {
        height: 200px;
    }
    #fh5co-menu-wrap {
        display: none;
    }
}
.fh5co-social-icons > a {
    padding: 4px 10px;
    color: #4cb648;
}
.fh5co-social-icons > a i {
    font-size: 26px;
}
.fh5co-social-icons > a:active,
.fh5co-social-icons > a:focus,
.fh5co-social-icons > a:hover {
    text-decoration: none;
    color: #212121;
}
#footer {
    background: #222831;
    padding: 60px 0 40px;
}
#footer .section-title {
    color: rgba(255, 255, 255, 0.8);
}
#footer .contact-info {
    margin: 0 0 60px;
    padding: 0;
}
#footer .contact-info li {
    list-style: none;
    margin: 0 0 20px;
    position: relative;
    padding-left: 40px;
}
#footer .contact-info li i {
    position: absolute;
    top: 5px;
    left: 0;
    font-size: 22px;
    color: rgba(255, 255, 255, 0.7);
}
#footer .contact-info li a {
    color: rgba(255, 255, 255, 0.6);
}
#footer .contact-form .form-group input[type="email"],
#footer .contact-form .form-group input[type="name"],
#footer .contact-form .form-group input[type="text"],
#footer .contact-form .form-group textarea {
    font-size: 16px;
}
#footer .contact-form .form-group input[type="email"]::-webkit-input-placeholder,
#footer .contact-form .form-group input[type="name"]::-webkit-input-placeholder,
#footer .contact-form .form-group input[type="text"]::-webkit-input-placeholder,
#footer .contact-form .form-group textarea::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.5);
}
#footer .contact-form .form-group input[type="email"]:-moz-placeholder,
#footer .contact-form .form-group input[type="name"]:-moz-placeholder,
#footer .contact-form .form-group input[type="text"]:-moz-placeholder,
#footer .contact-form .form-group textarea:-moz-placeholder {
    color: rgba(255, 255, 255, 0.5);
}
#footer .contact-form .form-group input[type="email"]::-moz-placeholder,
#footer .contact-form .form-group input[type="name"]::-moz-placeholder,
#footer .contact-form .form-group input[type="text"]::-moz-placeholder,
#footer .contact-form .form-group textarea::-moz-placeholder {
    color: rgba(255, 255, 255, 0.5);
}
#footer .contact-form .form-group input[type="email"]:-ms-input-placeholder,
#footer .contact-form .form-group input[type="name"]:-ms-input-placeholder,
#footer .contact-form .form-group input[type="text"]:-ms-input-placeholder,
#footer .contact-form .form-group textarea:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.5);
}
#footer .contact-form .form-group input,
#footer .contact-form .form-group textarea {
    color: rgba(255, 255, 255, 0.5);
    border: none;
    background: rgba(0, 0, 0, 0.2);
    box-shadow: none;
}
#footer #btn-submit {
    color: rgba(255, 255, 255, 0.9) !important;
    background: #4cb648 !important;
}
#footer .copy-right {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding-top: 50px;
    margin-top: 50px;
}
#footer .copy-right p {
    color: rgba(255, 255, 255, 0.3);
    letter-spacing: 1px;
    font-size: 14px;
    margin-bottom: 0;
}
#footer .copy-right p span {
    color: #4cb648;
}
#footer .copy-right p a {
    color: rgba(255, 255, 255, 0.5);
}
.btn {
    letter-spacing: 2px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.btn.btn-primary {
    background: #4cb648;
    color: #fff;
    border: none !important;
    border: 2px solid transparent !important;
}
.btn.btn-primary:active,
.btn.btn-primary:focus,
.btn.btn-primary:hover {
    box-shadow: none;
    background: #4cb648;
    color: #fff !important;
}
.btn:active,
.btn:focus,
.btn:hover {
    background: #393e46 !important;
    color: #fff !important;
    outline: 0 !important;
}
.btn.btn-default:active,
.btn.btn-default:focus,
.btn.btn-default:hover {
    border-color: transparent;
}
.js .animate-box {
    opacity: 0;
}
#fh5co-wrapper {
    overflow-x: hidden;
    position: relative;
    z-index: 52;
}
.fh5co-offcanvas #fh5co-wrapper {
    overflow: hidden !important;
}
#fh5co-page {
    position: relative;
    transition: 0.5s;
}
#offcanvas-menu {
    position: fixed;
    top: 80px;
    bottom: 0;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    z-index: 895;
    background: #222;
    right: -240px;
    width: 240px;
    padding: 20px;
    overflow-y: auto;
}
#offcanvas-menu ul {
    padding: 0;
    margin: 0;
}
#offcanvas-menu ul li {
    padding: 0;
    margin: 0 0 5px;
    list-style: none;
    width: 100%;
}
#offcanvas-menu .sf-menu a {
    padding: 0.25em 1em !important;
}
#offcanvas-menu ul li a {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.4);
}
#offcanvas-menu ul li a:hover,
#offcanvas-menu ul li.active > a {
    color: #4cb648;
}
#offcanvas-menu ul li > .fh5co-sub-menu {
    margin-top: 9px;
    padding-left: 20px;
}
#offcanvas-menu ul .fh5co-sub-menu {
    display: block !important;
}
#offcanvas-menu ul li.sfHover a {
    color: #fff;
}
.fh5co-nav-toggle.active i::after,
.fh5co-nav-toggle.active i::before,
.fh5co-nav-toggle.dark.active i::after,
.fh5co-nav-toggle.dark.active i::before {
    background: #fff;
}
.fh5co-nav-toggle:active,
.fh5co-nav-toggle:focus,
.fh5co-nav-toggle:hover {
    outline: 0;
    border-bottom: none !important;
}
.fh5co-nav-toggle i {
    position: relative;
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    width: 30px;
    height: 2px;
    color: #fff;
    font: 700 14px/0.4 Helvetica;
    text-indent: -55px;
    background: #fff;
    transition: all 0.2s ease-out;
}
.fh5co-nav-toggle i::after,
.fh5co-nav-toggle i::before {
    content: "";
    width: 30px;
    height: 2px;
    background: #fff;
    position: absolute;
    left: 0;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}
.fh5co-nav-toggle.dark i {
    position: relative;
    color: #000;
    background: #000;
    transition: all 0.2s ease-out;
}
.fh5co-nav-toggle.dark i::after,
.fh5co-nav-toggle.dark i::before {
    background: #000;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}
.fh5co-nav-toggle i::before {
    top: -7px;
}
.fh5co-nav-toggle i::after {
    bottom: -7px;
}
.fh5co-nav-toggle:hover i::before {
    top: -10px;
}
.fh5co-nav-toggle:hover i::after {
    bottom: -10px;
}
.fh5co-nav-toggle.active i {
    background: 0 0;
}
.fh5co-nav-toggle.active i::before {
    top: 0;
    -webkit-transform: rotateZ(45deg);
    -moz-transform: rotateZ(45deg);
    -ms-transform: rotateZ(45deg);
    -o-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
}
.fh5co-nav-toggle.active i::after {
    bottom: 0;
    -webkit-transform: rotateZ(-45deg);
    -moz-transform: rotateZ(-45deg);
    -ms-transform: rotateZ(-45deg);
    -o-transform: rotateZ(-45deg);
    transform: rotateZ(-45deg);
}
.fh5co-nav-toggle {
    text-decoration: none;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 9999;
    margin: 0 auto;
    display: none;
    cursor: pointer;
}
@media screen and (max-width: 480px) {
    .col-xxs-12 {
        float: none;
        width: 100%;
    }
}
.row-bottom-padded-lg {
    padding-bottom: 7em;
}
.row-top-padded-lg {
    padding-top: 7em;
}
@media screen and (max-width: 768px) {
    .fh5co-nav-toggle {
        display: block;
        top: 0;
    }
    .row-bottom-padded-lg {
        padding-bottom: 2em;
    }
    .row-top-padded-lg {
        padding-top: 2em;
    }
}
.row-bottom-padded-md {
    padding-bottom: 4em;
}
.row-top-padded-md {
    padding-top: 4em;
}
.row-bottom-padded-sm {
    padding-bottom: 2em;
}
.row-top-padded-sm {
    padding-top: 2em;
}
@media screen and (max-width: 768px) {
    .row-bottom-padded-md {
        padding-bottom: 2em;
    }
    .row-top-padded-md {
        padding-top: 2em;
    }
    .row-bottom-padded-sm {
        padding-bottom: 2em;
    }
    .row-top-padded-sm {
        padding-top: 2em;
    }
}
.border-bottom {
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}
.lead {
    line-height: 1.8;
}
.no-js #loader {
    display: none;
}
.js #loader {
    display: block;
    position: absolute;
    left: 100px;
    top: 0;
}
.fh5co-loader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(../images/hourglass.svg) center no-repeat #222;
}
.webform-submission-contact_us-form .form-control {
    color: rgba(255, 255, 255, 0.5);
    border: none !important;
    background: rgba(0, 0, 0, 0.2);
    box-shadow: none;
}
.fh5co-blog .meta-date {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 20px;
    background: #4cb648;
    width: 80px;
}
.fh5co-blog .meta-date p span.date {
    font-size: 12px;
    font-weight: 900;
    line-height: 85px;
}
.fh5co-pricing .pricing {
    float: none !important;
}
.field--name-field-classes .field__item {
    display: block;
    list-style: none;
    margin-top: 10px;
    background: rgba(0, 0, 0, 0.04);
    font-size: 16px;
    padding: 8px 10px;
}
.field--name-field-classes .field__item:nth-child(odd) {
    background: #fff;
}
.program.program-schedule {
    margin-right: 30px;
}
#Programs,
.fh5co-lightgray-section {
    padding: 90px 0 65px;
}
.member-section .member-button a {
    background: #4cb648;
    color: #fff;
    border: 2px solid transparent !important;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    padding: 10px 20px;
    font-size: 14px;
    line-height: 1.42857;
    border-radius: 4px;
}
.member-section .member-button a:hover {
    background: #393e46 !important;
    color: #fff !important;
    outline: 0 !important;
}
#programs .heading-section h2 {
    margin-top: 40px;
}
#fh5co-blog-section {
    padding-top: 40px;
}
#Blog {
    padding: 90px 0 65px;
}
.user-logged-in section.main-content-region-1 {
    margin-top: 92px;
}
.path-user .main-content-region-1 {
    padding-top: 165px;
    padding-left: 100px;
    padding-bottom: 50px;
}
.toolbar-tray-open #fh5co-header-section {
    top: 80px;
}
.contextual-region ul.tabs.primary {
    margin: 0;
}
#fh5co-programs-section {
    padding-top: 25px;
}
.fh5co-blog .meta-date p span.date {
    font-size: 20px;
    font-weight: 900;
    line-height: 28px;
}


.alert{
    position: fixed;
    bottom:0;
    margin-bottom: 0;
    z-index: 2
}
#footer textarea,
#footer input {
    color: rgba(255, 255, 255, 0.5);
    background: transparent;
    border: none;
    background: rgba(0, 0, 0, 0.2);
    box-shadow: none;
    margin-bottom: 20px;
}
#footer form .form-submit{
    width:max-content;
    background-color: #fff;
    color:#000;
}
#footer .region-address h3{
    padding-left: 40px;
}
.price-box .btn{
    border:1px solid lightgray;
}
.main-logo-image{
    width:200px;
    height: auto;
}
