#pricing-table .plan-details h3 {
    border-radius: 5px 0 0 0;
   /* margin-top: -291px;*/
}

.hover-bg .hover-text>h4 a{
    
    color: #fff;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    transition: all 0.3s;
    font-size: 18px;
    margin: 10px 0px 10px 0px;
    letter-spacing: 1px;
    font-weight: 500;
    text-transform: uppercase;
}

span.oh-display-label {
    display: inline-flex;
    float: left;
}
.oh-display-hours {

}
.intro {
   
    margin-top: 0px !important; 
   
}


@media screen and (max-width: 789px) and (min-width: 120px){
    .webform-client-form.webform-client-form-26 input#edit-submitted-name {
        width: 100%;
    }
    .webform-client-form.webform-client-form-26 input#edit-submitted-email-id{
        width: 100%;
    }
    .webform-client-form.webform-client-form-26 input#edit-submitted-phone {
        width: 100%;
    }
    .webform-client-form.webform-client-form-26 textarea#edit-submitted-message {
        
        width: 100%;
    }

    .webform-client-form.webform-client-form-26 textarea.form-control {
        width: 100% !important;
    
    }

}


#contact .form-control {
    width: 31%;
    float: left;
    margin: 1%;
    margin-bottom: 10px;
}


#contact textarea.form-control {
    width: 97%;
    float: left;
    margin-bottom: 10px;
}



button.webform-submit.button-primary.btn.btn-default.form-submit {
   font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    color: #fcf8e3 !important;
    background-color: transparent !important;
    letter-spacing: 1px;
    margin: 40px;
    padding: 8px 20px 6px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 25px;
    transition: all 0.2s linear;
    border: 1px solid #999;
    line-height: 20px;
    color: #fcf8e3;
    font-weight: bold;
}

button.webform-submit.button-primary.btn.btn-default.form-submit:hover {
    color: #fff;
    background-image: none;
    background-color: #fb5b21 !important;
    border: 1px solid #e44810;
}
#block-webform-client-block-26 h2 {
    color: #fff;
    margin-top: 10px;
    margin-bottom: 15px;
    padding-bottom: 15px;
    position: relative;
    margin-top: 10px;
    margin-bottom: 15px;
    padding-bottom: 15px;
    font-size: 38px;
    font-weight: bold;
    letter-spacing: -1px;
}
/*.owl-page.active{
    
    background-color: #fff;
 }   */


/*...............*/



.view-slider.view-id-slider.view-display-id-block
.owl-theme .owl-controls .owl-buttons div {
    background: none !important;
    color: #fff;
    width: 45px;
    height: 45px;
    /*border: 2px solid #25bada;*/
    font-size: 35px;
    line-height: 43px;
    margin: 5px;
    padding: 3px 10px;
    margin: -30% 0 0 0;
    border-radius: 0;
    margin-left: 0px;
   
    position: relative;
    
    opacity: 1;
    filter: Alpha(Opacity=50);
    opacity: 0.5;
    display: inline-block;
    zoom: 1;
    font-weight: 800;

}
.view-slider.view-id-slider.view-display-id-block
.owl-prev {
    float: left;
}
.view-slider.view-id-slider.view-display-id-block
.owl-next {
    float: right;
}
/*.owl-theme .owl-controls .owl-buttons div {
    color: #FFF;
    display: inline-block;
    zoom: 1;
    margin: 5px;
    padding: 3px 10px;
    margin: -30% 0 0 0;
    font-size: 12px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    background: #869791;
    
}*/


/*.view-slider.view-id-slider.view-display-id-block
.owl-theme .owl-controls .owl-buttons div:hover {
    background: #fff;
    color: #25bada;
    border: 2px solid #25bada;
    
}*/


/*.view-slider.view-id-slider.view-display-id-block
.owl-theme .owl-controls .owl-page.active span, .owl-theme .owl-controls.clickable .owl-page:hover span {
    filter: Alpha(Opacity=100);
    opacity: 1;
    background: #25bada;
}*/
/*.view-slider.view-id-slider.view-display-id-block
.owl-theme .owl-controls {
    margin-top: 10px;
    text-align: center;
    position: relative;
    top: 0px;
}


{
}

.view-slider.view-id-slider.view-display-id-block .owl-theme .owl-controls .owl-page span {
    display: block;
    width: 12px;
    height: 12px;
    margin: 5px 7px;
    filter: Alpha(Opacity=50);
    opacity: 0.5;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    width: 10px;
    height: 10px;
    background: #fff;
    border-radius: 50%;
}

.view-slider.view-id-slider.view-display-id-block
.owl-next {
    float: right;
}
.view-slider.view-id-slider.view-display-id-block
.owl-prev {
    float: left !important;
}



.view-slider.view-id-slider.view-display-id-block .owl-page.active {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #000 \9;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #fff;
    border-radius: 10px;


}*/

.region.region-copyright h2 {
    display: none;
}

ul.menu.nav.navbar-nav li a {
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    color: #000;
    font-size: 15px;
    font-weight: 600;
    padding: 8px 2px;
    border-radius: 0;
    margin: 5px 10px 0px 10px;
}
.navbar-inverse {
    background-color: transparent;
    border-color: transparent;
}
.navbar {
   min-height: auto;
}

a.logo.navbar-btn.pull-left {
    margin-top: 20px;
}  

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: transparent;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #333 !important;
}




#pricing-table ul {
    position: relative;
}

#pricing-table h3 span {
    position: relative;
  }  
/*
@media screen and (max-width: 459px) and (min-width: 220px){
  header .intro-text {
    padding: 0px !important;
    margin: 10% !important; 
  }  
 .intro p {
    display: none !important;  
 }
 .intro h1 {
    font-size: 16px;
    font-weight: 600;
    text-align: center !important;
    margin: 24% 0% 0% 1%;
   
    }  
 .btn-custom.white {
    padding: 4px 8px 4px;
    font-size: 10px;
    font-weight: 600;
    margin: 1% 0% 4% 2%;
  }
   } 
@media screen and (max-width: 579px) and (min-width: 460px){
 header .intro-text {
    padding-top: 25% !important;
   
    } 
 .intro h1 {
    font-size: 25px ;
    font-weight: 700;
    text-align: center !important;
    margin: -4% 0% 4% 2%;
   
    }  

 .intro p {
    font-size: 14px;
    font-weight: 500;
    display: block !important;
    margin-bottom: 0px !important;

    
 }

 .btn-custom.white {
    padding: 4px 13px 4px;
    font-size: 13px;
    font-weight: 500;
    margin: 1% 0% 4% 2%;
  }

}

@media screen and (max-width: 1000px) and (min-width: 580px){
 header .intro-text {
    padding-top: 26% !important;
   
    } 
  .intro h1 {
    font-size: 35px ;
    font-weight: 700;
   
    }  

 .intro p {
    font-size: 17px;
    font-weight: 400;
    margin-bottom: 0px !important;
    
  }

 .btn-custom.white {
    padding: 3px 13px 0px;
    font-size: 13px;
    font-weight: 700;
  }
}*/


#footer a {
    color: #fb5b21;
    font-weight: 700;
}

@media screen and (max-width: 1000px) and (min-width: 600px){
    .plan-details img{
        display: none !important;
    }
   #pricing-table .plan-details h3 {

        margin-top: 0px;
    }

}

.navbar-inverse .navbar-nav li:last-child a {
    padding-right: 0px !important;
    margin-right: 0px !important;
}
/*.navbar-nav li a:after {
    display: block;
    position: absolute;
    left: 0;
    bottom: -1px;
    margin: 0px auto;
    width: 0;
    height: 2px;
    background: #fb5b21;
    right: 0px;
    content: "";
    transition: width 0.2s;
}*/
.navbar-inverse .navbar-nav a:after {
    display: block !important;
    position: absolute !important;
    left: 0 !important;
    bottom: -1px !important;
    width: 100% !important;
    height: 2px !important;
    background: #fb5b21;
    content: "" !important;
    transition: width 0.2s !important;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: transparent;
}
.navbar-default .navbar-nav > .active > a:after, .navbar-default .navbar-nav > .active > a:hover:after, .navbar-default .navbar-nav > .active > a:focus:after {
    display: block !important;
    position: absolute !important;
    left: 0 !important;
    bottom: -1px !important;
    width: 100% !important;
    height: 2px !important;
    background: #fb5b21;
    content: "" !important;
    transition: width 0.2s !important;
}

#menu.navbar-default {
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
}
.navbar {
    margin-bottom: 0px;    
}